.filter {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 318px;
  }
}

.filter__group {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

}

.filter__group-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.feature .filter__group-title {
  margin-bottom: 24px;
}

.origin .filter__group-title {
  margin-bottom: 15px;
  padding-left: 2px;
}

.filter__group-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__group-label {
  position: relative;
  cursor: pointer;

  &--disabled {
    color: $grey;
  }
}
